* {
	box-sizing: border-box;
}

body {
    color: #7F7F7F;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0% 0%;
}

#saleats a {
    color: #AB0707;
    font-family: "Lobster";
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
}

#navigation-bar {
    border-bottom: 1px solid lightgray;
    padding: 20px 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#navigation a {
    color: gray;
    font-size: 15px;
    padding-left: 20px;
    text-decoration: none;
}
